.shadow (@shadow: 0 1px 6px #dcdcdc) {
  box-shadow: @shadow;
}

.ellipsis () {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hover(@color: #1890ff) {
  cursor: pointer;
  color: @color;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.text-loading-block(@bgColor: #dcdcdc) {
  height: 1.5em;
  background: @bgColor;
  background-size: 600% 600%;
  border-radius: 2px;
  animation: flash 1s ease infinite;
}
